h1 {
	color: darkgreen;
}
h2 {
	color: blue;
}
p {
	color: darkblue;
}
.text {
	color: darkorange;
}
ul {
	color: rgb(125, 180, 70);
}
a {
	color: rgb(14, 55, 238);
}
.paragraph {
	color: gold;
}
.link {
	color: rgb(230, 17, 17);
}
div {
	color: darkmagenta;
}
.section {
	color: dodgerblue;
}
.text1 {
	color: peru;
}
.text2 {
	color: pink;
}
